@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem
  ;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%}
  .dark {
    --background: 196, 18%, 12%;
    --foreground: 0 0% 88%;
    --card: 196, 18%, 8.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 196 18% 8%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 196, 18%, 20%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 196, 18%, 12%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 320 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 196, 18%, 20%;
    --sidebar-ring: 317.2 91.2% 59.8%}
}
@layer base {
  * {
    @apply border-border;
  }
  html, body {
    @apply bg-background text-foreground;
    @apply overflow-hidden;
  }

  .gde-appbar {
    @apply dark:bg-sidebar dark:text-sidebar-foreground;
    @apply p-4 sticky top-0 w-full bg-white z-50;
    @apply flex justify-between shadow;
  }
  
  .gde-appbar--left {
    @apply flex items-center;
  }

  .gde-appbar--right {
    @apply flex items-center;
  }
}

.gde-app {
  @apply bg-background;
}


::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  @apply dark:bg-gray-500 !important;
}

.method {
  @apply px-2 w-14 py-px rounded-full text-center;
  @apply uppercase text-[.65rem] font-bold;
  @apply text-gray-50 dark:text-foreground;
}

.method.get {
  @apply bg-cyan-600 dark:bg-opacity-50;
}

.method.post {
  @apply bg-orange-600 dark:bg-opacity-50;
}

.method.put {
  @apply bg-amber-600 dark:bg-opacity-50;
}

.method.delete {
  @apply bg-rose-600 dark:bg-opacity-50;
}

.alert {
  @apply text-foreground !important;
}

.alert.alert-post {
  @apply bg-orange-700 border-orange-500 bg-opacity-20 border-opacity-50;
}

.alert.alert-put {
  @apply bg-amber-700 border-amber-500 bg-opacity-20 border-opacity-50;
}

.alert.alert-get {
  @apply bg-cyan-700 border-cyan-500 bg-opacity-20 border-opacity-50;
}

.alert.alert-delete {
  @apply bg-rose-700 border-rose-500 bg-opacity-20 border-opacity-50;
}

.collapsible-arrow {
  @apply ml-auto transition-transform mr-4;
}

.status-code {
  @apply text-sm text-white;
}

.status-success {
  @apply bg-green-600 border-green-800;
}

.status-error {
  @apply bg-red-600 border-red-800;
}

.status-200, .status-201, .status-204 {
  @apply status-code status-success;
}

.status-400, .status-401, .status-403, .status-404, .status-405, .status-409, .status-500 {
  @apply status-code status-error;
}

.shortcut {
  @apply pointer-events-none inline-flex h-5;
  @apply select-none items-center gap-1 rounded border;
  @apply bg-muted px-1.5 font-mono text-[10px] font-medium text-muted-foreground opacity-100;
}

.search-empty--alert {
  @apply my-4 bg-cyan-300 border-cyan-800;
  @apply bg-opacity-25 p-8 items-center flex gap-8;
};

.gde-page {
  @apply p-2 xl:p-9 pt-4;
  @apply dark:bg-background relative;
  @apply h-dvh overflow-auto pb-32;
}

.gde-page pre {
  @apply rounded-2xl;
}

h1 {
  @apply text-4xl font-bold;
}

.branding-name {
  @apply font-bold text-xl font-display;
}

.dark .branding-name {
  background: -webkit-linear-gradient(45deg, #7209b7, #00f5d4, #ffd60a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.light .branding-name {
  background: -webkit-linear-gradient(0deg, #f72585, #b5179e, #7209b7, #560bad, #560bad, #3f37c9, #4361ee, #4895ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

